.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profileImage {
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.name {
    font-size: 24px;
}